@CHARSET "UTF-8";
.advancedSearch form {
	display: inline;
}

.advancedSearch .codeValues {
	font-family: monospace;
	background-color: white;
	border: gray solid 1px;
	overflow: auto;
	min-height: 3em;
	max-height: 7em;
}

.advancedSearch .conditionList {
	background-color: white;
	border: gray solid 1px;
	overflow: auto;
	min-height: 3em;
	max-height: 10em;
}

.advancedSearch .conditionList ul {
	list-style-type: decimal;
}
.advancedSearch .conditionList li {
	white-space: nowrap;
}
