@CHARSET "UTF-8";
body {
	background-color: #F2F5F7;
}
div.tab-label {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	vertical-align: top;
	border-right: solid #75C3EB 1px;
}
div.tab-pane {
	background-color: white;
	position: fixed;
	left: 30px;
	right: 0;
	top: 0;
	bottom: 0;
}
ul.tab-label {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.tab-label > li {
	float: left;
	clear: both;
	writing-mode:tb-rl;
	padding: 0;
	margin: 0 0 1px 2px;
	color: #2779AA;
	border: solid 1px #AED0EA;
	background-image: url("../images/verticalButtonBackground.png");
	background-position: center;
	background-repeat: repeat-y;
}
ul.tab-label > li:hover {
	background-image: url("../images/verticalButtonBackground_hover.png");
}
ul.tab-label > li.selected {
	color: white;
	border-color: #75C3EB;
	background-image: url("../images/verticalButtonBackground_selected.png");
}
ul.tab-label > li > a {
	display: block;
	padding: .5em .5em .5em .3em;
	color: inherit;
	font-weight: bold;
	font-size: larger;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
