<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>roadBridge-web</display-name>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.qinglingsoft.changshuchannel.web.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- <filter>
    <filter-name>DefaultMapLayerSetFilter</filter-name>
    <filter-class>com.qinglingsoft.changshuchannel.web.DefaultMapLayerSetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DefaultMapLayerSetFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping> -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>com.qinglingsoft.webframework.helper.DEFAULT_PAGE_SIZE</param-name>
    <param-value>30</param-value>
  </context-param>
  <resource-ref>
    <res-ref-name>jdbc/ChangshuChannelDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <env-entry>
    <description>备份文件夹</description>
    <env-entry-name>backupFolder</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/ChangshuChannelMIS/backup</env-entry-value>
  </env-entry>
  <env-entry>
    <description>航道媒体导入错误包文件夹</description>
    <env-entry-name>channelMediaImportErrorFolder</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/ChangshuChannelMIS/channelMediaImportError</env-entry-value>
  </env-entry>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<description>启动时创建超级管理员</description>
    <listener-class>com.qinglingsoft.changshuchannel.web.SuperAdminCreateListener</listener-class>
  </listener>
  <listener>
  	<description>启动时创建访客用户</description>
    <listener-class>com.qinglingsoft.changshuchannel.web.GuestUserCreateListener</listener-class>
  </listener>
  <filter>
    <description>系统维护时禁止业务访问</description>
    <display-name>SystemMaintainingFilter</display-name>
    <filter-name>SystemMaintainingFilter</filter-name>
    <filter-class>com.qinglingsoft.changshuchannel.web.SystemMaintainingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SystemMaintainingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SystemMaintainingFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
</web-app>